<footer class="footer">

 <div style="width: 100%; overflow: hidden;">
     <div style="width: 600px; float: left; margin-left:40px"> 
	<p>
	Content &copy;  New Westminster Downtown Residents Association<br />
	Images &copy;  <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	Website design by <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	</p>
      </div>
     <div style="margin-left: 620px;">
	<ul class="footer-links">
		<li><a href="https://bsky.app/profile/nwdra.ca"><i class="fa-brands fa-bluesky-3x"></i></a></li>
		<li><a href="https://www.facebook.com/nwdra.ca/"><i class="fa-brands fa-facebook-3x"></i></a></li>
	</ul>
     
     </div>
</div>

