<footer class="footer">

 <div style="width: 100%; overflow: hidden;">
     <div style="width: 600px; float: left; margin-left:40px"> 
	<p>
	Content &copy;  New Westminster Downtown Residents Association<br />
	Images &copy;  <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	Website design by <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	</p>
      </div>
     <div style="margin-left: 620px;">
	<ul class="footer-links">
		<br />
		<li><a href="https://bsky.app/profile/nwdra.ca"><img src="/assets/images/bsky.png" alt="bluesky" style="width:50px;height:50px;"></a></li>
		<li><a href="https://www.facebook.com/nwdra.ca/"><img src="/assets/images/facebook.png" alt="facebook" style="width:50px;height:50px;"></a></li>
	</ul>
     
     </div>
</div>

