<footer class="footer">

 <div style="width: 100%; overflow: hidden;">
     <div style="width: 600px; float: left; margin-left:40px"> 
	<p>
	Content &copy; 2015-2121 New Westminster Downtown Residents Association<br />
	Images &copy; 2015-2121 <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	Website design by <a href="https://www.ayb.ca">AYB Technologies, Inc</a><br />
	</p>
      </div>
     <div style="margin-left: 620px;">
	<ul class="footer-links">
		<li><a href="https://twitter.com/nwdra"> <i
				class="fa fa-inverse fa-twitter fa-3x"></i></a></li>
		<li><a href="https://facebook.com/nwdra"> <i
				class="fa fa-inverse fa-facebook fa-3x"></i></a></li>
	</ul>
     
     </div>
</div>

